@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');

:root{
    --main-color: #FFFFFF;
    --main-text-color: #000000;
    --bg-footer-color: #23272A;
    --bg-secondary-color: #F6F6F6;
    --emphasis-color: #7289DA;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Noto-sans', sans-serif;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-row-reverse{
    display: flex;
    flex-direction: row-reverse;
}

.center{
    justify-content: center;
    align-items: center;
}


.space-beetween{
    justify-content: space-between; 
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.button{
    background-color: var(--main-color);
    padding: .8rem .8rem;
    border-radius: 25px;
    text-decoration: none;
    color: var(--main-color);
}

.light-btn{
    color: var(--main-text-color);
}

.dark-btn{
    background-color: var(--bg-footer-color);   
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--main-color);
}

header{
    color: var(--main-color);
    height: 600px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    text-align: center;
    background-position: center;
}

header nav{
    width: 100%;
    background-color: rgb(37, 94, 233);
    position: fixed;
    padding: .3rem;
}


#top-ul{
    width: 40%;
    padding-top: .5rem;
}


h1{
    margin-bottom: 3rem;
    padding-top: .5rem;
    font-size: 3rem;
}



#jumbotron {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#jumbotron p {
    line-height: 2rem;
    padding: 0 15em;
    margin-bottom: 2rem;
}

i{
    color: black;
}

main{
    color: var(--main-text-color);
    background-color: var(--main-color);
}

section{
    padding: 8em 0;
}

.odd{
    background-color: var(--bg-secondary-color);
}

.main-img{
    flex-basis: 60%;
}

.main-img img{
    width: 100%;
}

h2{
    font-size: 3rem;
}
