@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');

:root{
    --main-color: #FFFFFF;
    --main-text-color: #000000;
    --bg-footer-color: #23272A;
    --bg-secondary-color: #F6F6F6;
    --emphasis-color: #7289DA;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Noto-sans', sans-serif;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-row-reverse{
    display: flex;
    flex-direction: row-reverse;
}


.space-beetween{
    justify-content: space-between; 
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.button{
    background-color: var(--main-color);
    padding: .8rem .8rem;
    border-radius: 25px;
    text-decoration: none;
    color: var(--main-color);
}

.light-btn{
    color: var(--main-text-color);
}

.dark-btn{
    background-color: var(--bg-footer-color);   
}

.emph-btn{
    background-color: var(--emphasis-color);
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--main-color);
}

header{
    color: var(--main-color);
    height: 600px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    text-align: center;
    background-position: center;
}

header nav{
    width: 100%;
    background-color: rgb(37, 94, 233);
    position: fixed;
    padding: .3rem;
}


#top-ul{
    width: 40%;
    padding-top: .8rem;
}


h1{
    margin-bottom: 3rem;
    padding-top: .5rem;
    font-size: 3rem;
}



#jumbotron {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#jumbotron p {
    line-height: 2rem;
    padding: 0 15em;
    margin-bottom: 2rem;
}

i{
    color: black;
}

main{
    color: var(--main-text-color);
    background-color: var(--main-color);
}

main section{
    padding: 8em 0;
    width: 100%;
}

.even{
    background-color: var(--bg-secondary-color);
}

main article{
    flex-basis: 30%; 
}

.main-img{
    flex-basis: 65%;
}

.main-img img{
    width: 100%;
}

h2{
    font-size: 3rem;
    line-height: 3.5rem;
}

section p{
    line-height: 2rem;
    margin-top: 1.7rem;
}

#sec-1 article{
    padding-top: 2.7rem;
}

#sec-2 article{
    padding-top: 3rem;;
}

#sec-3 article{
    padding-top: 3rem;
}

#sec-4{
    text-align: center;
}

#cta{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

#download{
    width: 200px;
    margin: 0 auto;
}


footer{
    background-color: var(--bg-footer-color);
    color: var(--main-color) ;
}

footer section{
    width: 100%;
}

footer div.container{
    padding-top: 4rem;
}

#social{
    flex-basis: 25%;
    padding-right: 3rem;
}

#links{
    flex-basis: 75%;
}

h3{
    color: var(--emphasis-color);
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

figure img{
    width: 30px;
    padding-right: .5rem ;
}
figcaption{
    font-weight: 300;
}
#social ul{
    margin-top: 1rem;
    padding-right: 8em;
}

#social i{
    color: var(--main-color);
}

#links h4{
    color: var(--emphasis-color);
}

.menu li{
    padding-bottom: 1rem;
}

hr{
    margin: 1rem auto !important;
    border: 1px solid var(--emphasis-color);
}

aside{
    padding-bottom: 1rem;
}